*{
	box-sizing: border-box;
}
body{
	background-color: white;
}
h1{
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif; 
	margin-top: 5%;
	margin-bottom: 5%;
}
p{
	font-family: "Comic Sans MS", cursive, sans-serif; 
}
.box{
	width: 100%;
	overflow: none;
}
.cname1,.cname2,.cname3{
	font-weight: bold;
	border: 5px solid;
	width: 90px;
	background-color: white;
	text-align: center;
	padding: 2px;
	float: right;
	margin-right:15px;
	position: relative;
	margin-top: 0px;
	overflow: none;

}
.content{
	 border: 4px solid black;
  width: 97%;
  color: black
  font-size: 25px;
  padding: 2px;
  padding-top: 41px;
  background-color: lightgrey;
  margin-bottom: 3%;
  overflow: none;
}

.cname1{
	background-color: pink;
}
.cname2{
	background-color:red;
}
.cname3{
	background-color: yellow;
}

@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.3%;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {

    width: 100%;
  }

}

@media (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
}